<a href="https://colab.research.google.com/github/devikamanoj/ColabWorks/blob/main/DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading datafiles using pandas

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive') ## takes the file from the drive

Mounted at /content/gdrive

In [ ]:
DatasetBaseFolder = '/content/gdrive/MyDrive/Colab Notebooks/PandasTheorem/'

In [ ]:
df = pd.read_csv(DatasetBaseFolder+"Purchases.csv") #reads csv file

In [ ]:
 df.head(3) #print first 3 observations

  Customer  Oranges  Apples
0    Bachu        2       3
1     Achu        5       6
2    Sachu        8       9

In [ ]:
df = pd.read_excel(DatasetBaseFolder+"Purchases.xlsx") #reads excel file

In [ ]:
 df.head(3) #print first 3 observations

  Customer  Oranges  Apples
0    Bachu        2       3
1     Achu        5       6
2    Sachu        8       9

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')